body {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-size: 20px;
}

header {
  max-width: 65em;
  text-align: center;
  margin: auto;
}

#logo {
  height: 130px;
  margin: 0.01em;
  border: none;
}

h1 {
  margin: 0.1em;
}

h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0.1em;
}

#address-dialog {
  max-width: 65em;
  text-align: right;
  display: inline-block;
  margin-right: 2.5em;
}

#address-dialog ul {
  list-style-type: none;
}

#start_address,
#destination_address,
#status_message {
  font-size: 1.2em;
  margin-top: 0.7em;
  margin-left: 0.1em;
  padding: 0.15em;
}

.address_input {
  max-width: 50em;
}

input {
  border: 1px solid #e94e1b;
  width: 15em;
}

#search_button {
  background-color: white;
  border: 1px solid #e94e1b;
  font-size: 1.2em;
  margin-top: 0.7em;
  padding: 0.1em;
  max-width: 7em;
  cursor: pointer;
}

#status_message {
  text-align: center;
  font-size: 0.8em;
}

#travel_data {
  max-width: 802px; 
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.idle,
.no_data {
  background-color: white;
}

.error,
.show_data {
  background-color: #e94e1b;;
}

.working_on_addresses,
.working_on_images {
  background: radial-gradient(#e94e1b, rgba(255, 255, 255, 0));
}

.working_on_route {
  background: radial-gradient(#16b1e4 , rgba(255, 255, 255, 0));
}

#map {
  max-width: 798px;
  height: 370px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: auto;
  border: solid 2px #e94e1b;
}

#about_link {
  font-size: 0.8em;
  font-weight: 400;
  position: fixed;
  top: 0.5em;
  right: 5%;
  cursor: pointer;
}

#about {
  width: 20em;
  float: right;
  padding: 1em;
  font-size: 0.7em;
  color: #cccccc;
  background-color: #333333;
  position: fixed;
  top: 1em;
  right: 1em;
  visibility: hidden;
}

#about nav {
  float: right;
  color: #e94e1b;
  cursor: pointer;
}

#about a {
  color: #e94e1b
}

#about h1 {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

#webcams {
  max-width: 802px;
  margin: auto;
  margin-top: 15px;
}

.svv_image {
  margin-bottom: 40px;
}

.svv_image h4,
.svv_image p {
  max-width: 800px;
  margin: auto;
}

.svv_image img {
  border: 1px solid;
  width: 800px;
}
