body {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-size: 20px;
}

header {
  max-width: 65em;
  text-align: center;
  margin: auto;
}

#logo {
  height: 130px;
  margin: 0.01em;
  border: none;
}

h1 {
  margin: 0.1em;
}

h2 {
  font-size: 1em;
  margin: 0.1em;
}

#address-dialog {
  max-width: 65em;
  text-align: right;
  display: inline-block;
  margin-right: 2.5em;
}

ul {
  list-style-type: none;
}

#start_address,
#destination_address {
  font-size: 1.2em;
  margin-top: 0.7em;
  margin-left: 0.1em;
  padding: 0.1em;
}

.address_input {
  max-width: 50em;
}

input {
  border: 1px solid #e94e1b;
  width: 15em;
}

#search_button {
  background-color: white;
  border: 1px solid #e94e1b;
  font-size: 1.2em;
  margin-top: 0.7em;
  padding: 0.1em;
  max-width: 7em;
}

#map {
  max-width: 1280px;
  max-width: 90%;
  height: 390px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: auto;
  border: solid 2px #e94e1b;
}

#webcams {
  max-width: 1280px;
  margin: auto;
  margin-top: 15px;
}

.svv_image {
  margin-bottom: 40px;
}

.svv_image h4,
.svv_image p {
  max-width: 800px;
  margin: auto;
}

.svv_image img {
  border: 1px solid;
  width: 800px;
}
